
<%- include('../partials/head.ejs'); %>

            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content tm-about">
                        <h2 class="mb-5 tm-content-title">About &nbsp;<span class="tm-sitename" style="font-size: 60px;">DainTree</span></h2>
                        <hr class="mb-4">
                        <div class="media my-3">
                            <i class="fas fa-shapes fa-3x p-3 mr-4"></i>
                            <div class="media-body">
                                <p>Always strugling while choosing your outfit? Don't worry, you are at right place, the home of fashion influencers. We at DainTree will provide you the best fashion influencers and designers as your personal assistant.  </p>
                            </div> 
                        </div>
                        <div class="media my-3">
                            <i class="fas fa-draw-polygon fa-3x p-3 mr-4"></i>
                            <div class="media-body">
                                <p>This personal assistant will be a professional fashion designer/influencer who will surely help you out in all possible professional ways.</p>
                            </div> 
                        </div>
                        <div class="media my-3">
                            <i class="fab fa-creative-commons-share fa-3x p-3 mr-4"></i>
                            <div class="media-body">
                                <p>Don't waste your time being confused about which outfit will suit your personality best, just fill the form once and get yourself the best fashion influencer. </p>
                            </div> 
                        </div>
                        <div class="media my-3">
                            <i class="fas fa-bookmark fa-3x p-3 mr-4"></i>
                            <div class="media-body">
                                <p>Your data is safe with us. We respect your privacy and keep your data safe.</p>
                            </div> 
                        </div>                        
                    </section>
                </main>
            </div>
        </div>        
     

        <!-- Diagonal background design -->
        <div class="tm-bg">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

<!-- FOOTER ADDED -->

<%- include('../partials/footer.ejs'); %>