<%- include('../partials/head.ejs'); %>
            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right tm-contact-main"> 
                    <section class="tm-content tm-contact">
                        <h2 class="mb-4 tm-content-title" style="font-weight: 600;">Contact Us</h2>
                        <p class="mb-75">If you are passionate about fashion and think that you can make an outfit memorable for someone, contact us. Any kind of help or suggestions are welcome, help us improve. Your feedback is important to us, so please give us your precious reviews. Feel free to contact anytime.</p>
                        <figure class="text-end">
                            <blockquote class="blockquote">
                              <p><b>Contact At: </b></p>
                                      <p>
                                      Email - daintree.tech@gmail.com</p>
                                      <a role="button" class="btn btn-success" href="mailto:daintree.tech@gmail.com"  style="opacity: 0.6;"><i class="fa fa-envelope-o" style="font-size: 30px;"></i></a>
                            </blockquote>
                            <figcaption class="blockquote-footer" style="font-size: 20px;">
                              Thanks for your Visit<cite title="Source Title"></cite>
                            </figcaption>
                          </figure>

                    </section>
                </main>
            </div>
        </div>        


        <div class="tm-bg"> <!-- Diagonal background design -->
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

<%- include('../partials/footer.ejs'); %>