

<%- include('../partials/head.ejs'); %> 

<!-- HEADER ADDED -->

            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <h1 class="mb-5 tm-sitename" style="font-size: 70px;">DainTree </h1>
                        <p class="mb-5" style="font-size: 25px; font-weight:500; ">Let us bring you the world class fashion influencers
                            and designers as your personal assistant to help you out with your fashion and make your
                            <!-- shopping memorable.</p>
                        <hr class="mb-5">
                        <p class="mb-5" style="font-size: 22px; font-weight: 400;">Pre registration started! Fill the form to hire best
                            assistant for yourself.<br>Hurry! Last date to register: 10/July/2021 </p>


                        <p>
                            <button type="button" class="btn btn-info btn-lg mt-3" style="opacity: 1;" id="login"
                                onclick="onLogin();" class="text-white"><b><i class="fab fa-google-plus-g"></i></b></button>
                        <p class="text-white" style="font-size:medium;">Click on above button to proceed to form.</p>
                        </p> -->

                    </section>
                </main>
            </div>
        </div>

        <div class="tm-row">
            <div class="tm-col-left text-center">
                <ul class="tm-bg-controls-wrapper">
                    <li class="tm-bg-control active" data-id="0"></li>
                    <li class="tm-bg-control" data-id="1"></li>
                    <li class="tm-bg-control" data-id="2"></li>
                </ul>
            </div>
        </div>

        <!-- Diagonal background design -->
        <div class="tm-bg">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>
    

     <div class="fluid-container-animate">
       <div class="w3-row">
    <div class="w3-twothird w3-container content-animate">
     <div class="col text-known text-center">
       <h3 class="text-white-1">
         Looking Great Made Simple!
       </h3>
       <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora reprehenderit ipsum odio id reiciendis, inventore unde optio earum esse quaerat.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis impedit non aliquid, maiores praesentium itaque veritatis labore possimus sapiente cumque.
       </p>
       <button class="btn btn-new">
         TAKE YOUR STYLE QUIZ
       </button>
     </div>
    </div>

  <div class="w3-third w3-container great-animate">  

   <div class="upper-animate"> 
    <div class="cards-moving-2">
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>

      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
    </div>
    <div class="cards-moving-1">
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>

      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
    </div>
    <div class="cards-moving-2">
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>

      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
      <div class="card card-1">
         <img src="/img/square-image.jpg" width="200px" height="200px">
      </div>
    </div>
   </div> 
  </div>

  </div>
  </div>

    <div class="header-extradiv">
    <div class= "container text-center">
        <h2 class="promo-title title" id="service">Tell us about Yourself</h2>
        <div class="row">
            <div class="extra-div sp-between col-lg-4 col-md-4 col-12">
            <i class="fa fa-phone-square fa-3x"></i>

                <h2>Build your style profile online</h2>
                <p>Tell us all about your tastes, your style, your preferences. Fill us in on your dress code and give us your budget. We want to know everything!</p>
            </div>

            <div class="extra-div sp-between col-lg-4 col-md-4 col-12">
                <i class="fa fa-tape fa-3x"></i>

                <h2>Bring out the measuring tape</h2>
                <p>Fill in your size details. Let us know what you love to flaunt and what you aren’t comfortable showing off. We’ll pick out pieces that flatter. Promise!!</p>

            </div>

            <div class="extra-div sp-between col-lg-4 col-md-4 col-12">
                <i class="fa fa-clock fa-3x"></i>

                <h2>You’re done in a flash</h2>
                <p>Building your profile is easy and fun. It won’t take more than 10 minutes of your time. Remember, the more details you give us, the better we can style you.</p>
            </div>
        </div>
        <br><br>
    </div>
  </div>
  
  
  <!--############################################### TIMLINE ONN ###############################################################-->
  
  


  

  <div class="cos-1">
  <div class="parallax-img">
    <div class="text-center">
       
      <h2 class="heading-time" id="timeline">How <strong>DainTree</strong> Works</h2>
      <div class="timeline">
  
        <ul>
  
          <li class="diss1">
            <div class="timeline-content diss">
              <h1>Take your style quiz</h1>
              <p>This helps us get to know you better and match you with the right stylist. You take the quiz just once.</p>
            </div>
          </li>
  
          <li class="diss1">
            <div class="timeline-content diss">
       
              <h1>Request a curation from an expert stylist</h1>
              <p>Get pieces selected for a styling fee of just ₹200. This gets adjusted if you purchase even one piece.</p>
            </div>
          </li>
  
          <li class="diss1">
            <div class="timeline-content diss">
    
              <h1>View your curation online before buying</h1>
              <p>Check out what the stylist has picked within a few days. Buy only what you love.</p>
            </div>
          </li>
  
          <li class="diss1">
            <div class="timeline-content">

              <h1>Free shipping & returns in India</h1>
              <p>We ship your selected pieces with Covid-19 protocols across India and select international locations.</p>
            </div>
          </li>
        </ul>
  
  
      </div>
      <br><br><br>
      <!-- <h3>
        Our expert stylists team up with our data tools to pick pieces based on your unique style, fit and budget.
      </h3>
      <p>
        No subscription required.
      </p>
      <button class="btn btn-new">
        TAKE YOUR STYLE QUIZ
      </button> -->


    </div>
  </div>

  </div>



  <!-- SLIDER - CONTAINER -->
    <div class="slider-container">
      <div class="left-slide">
        <div style="background-color: #014d36">
          <h1 class="color_K">Saree</h1>
          <p class="color_K">new collection</p>
        </div>
        <div style="background-color: #0f235a">
          <h1 class="color_K">Libas</h1>
          <p class="color_K">new collection</p>
        </div>
        <div style="background-color: #380303">
          <h1 class="color_K">Crop Tops</h1>
          <p class="color_K">new collection</p>
        </div>
        <div style="background-color: #000000">
          <h1 class="color_K">Accessories</h1>
          <p class="color_K">new collection</p>
        </div>
      </div>
      <div class="right-slide">
        <div
          style="
            background-image: url('https://images.unsplash.com/photo-1567640157569-f93dc2275420?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
          "
        ></div>
        <div
          style="
            background-image: url('https://images.unsplash.com/photo-1552996923-5063f7db50ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
          "
        ></div>
        <div
          style="
            background-image: url('https://images.unsplash.com/photo-1559992490-51463933f67e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80');
          "
        ></div>
        <div
          style="
            background-image: url('https://images.unsplash.com/photo-1561076722-85adfb3195cb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80');
          "
        ></div>
      </div>
      <div class="action-buttons">
        <button class="down-button">
          <i class="fas fa-arrow-down"></i>
        </button>
        <button class="up-button">
          <i class="fas fa-arrow-up"></i>
        </button>
      </div>
    </div>
 
<!-- FOOTER ADDED -->

<%- include('../partials/footer.ejs'); %>
